# artifacts
*.DS_Store
**/*.iws
**/*.ipr
**/*.iml
out/

# build directory
build
tmp/
**/target/**
*.class

# pom output
**/**/*.flattened-pom.xml

# idea directory
/.idea/

# gradle directory
.gradle

# output files
*.log
*.trees
*.state
state.backup.xml
