# python cache
scripts/python/treesim/__pycache__/
scripts/python/tests/__pycache__/

# output files
scripts/output/

# other artifacts
*.iml
src/META-INF/

# build directory
build
# idea directory
.idea
